<div class="w-full pl-6 space-y-4">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <p class="text-xs text-gray-600">Nom / الإسم العائلي</p>
      <p class="text-sm font-semibold">
        <!-- {{ data.fullName }} -->
        EL ALAMI
      </p>
    </div>
    <div>
      <p class="text-xs text-gray-600">Prénom / الإسم الشخصي</p>
      <p class="text-sm font-semibold">
        <!-- {{ data.firstName }} -->
        ZAINEB
      </p>
    </div>
    <div>
      <p class="text-xs text-gray-600">Date de naissance / تاريخ الازدياد</p>
      <p class="text-sm font-semibold">
        <!-- {{ data.dateOfBirth }} -->
        05/12/1983
      </p>
    </div>
    <div>
      <p class="text-xs text-gray-600">Lieu / مكان الازدياد</p>
      <p class="text-sm font-semibold">
        <!-- {{ data.placeOfBirth }} -->
        OUARZAZATE
      </p>
    </div>
  </div>

  <div class="pt-6">
    <div class="flex justify-between items-center">
      <div>
        <p class="text-xs text-gray-600">N° / رقم</p>
        <p class="text-sm font-mono font-semibold">
          <!-- {{ data.idNumber }} -->
          U1234567
        </p>
      </div>
      <div class="text-right">
        <p class="text-xs text-gray-600">Valable jusqu'au / صالحة إلى غاية</p>
        <p class="text-sm font-semibold">
          <!-- {{ data.expiryDate }} -->
          22/07/2029
        </p>
      </div>
    </div>
  </div>
</div>
