<div
  class="px-6 py-4 bg-rose-900/10 flex flex-col md:flex-row justify-between items-center gap-2"
>
  <div class="flex items-center space-x-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 text-green-700"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"
      />
    </svg>
    <div>
      <h1 class="text-sm font-semibold text-gray-800">ROYAUME DU MAROC</h1>
      <p class="text-xs text-gray-600">CARTE NATIONALE D'IDENTITÉ</p>
    </div>
  </div>
  <div class="text-center md:text-right">
    <h1 class="text-sm font-semibold text-gray-800">المملكة المغربية</h1>
    <p class="text-xs text-gray-600">البطاقة الوطنية للتعريف</p>
  </div>
</div>
